html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    background-color: #373c47;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(150,150,150,0.25);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    /*background: #1c3859;*/
}

header h1 {
    font-family: "Source Code Pro", monospace;
    margin-left: 2%;
    padding: 0;
    color: white;
    font-size: 40px;
}

header nav {
    margin-right: 2%;
}
header nav a {
    text-decoration: none;
    padding-right: 20px;
    color: white;
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.15em;
}

#landing {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-height: 1600px;
    background-image: url("/static/img/yannick.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    text-align: center;
    --landing-height: 100vh;
}

#landing-content {
    margin-top: calc(0.15 * var(--landing-height));
    display: flex;
    flex-direction: column;
    align-items: center;
}


#landing-content h2 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 75px;
}

#landing-content p {
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 35px;
}

#landing-links {
    margin-top: 4%;
    /*position: absolute;*/
    /*top: 50%;*/
    /*border: 1px solid red;*/
    border-radius: 12px;
    width: 35%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    color: white;
}

#landing-links a {
    color: inherit;
}

#about {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    background: #0d2136;
    #justify-content: center;
    align-items: center;
    #font-family: "Arial", sans-serif;
    font-family: "Source Code Pro", monospace;
    color: white;
}

#about-content {
    margin-top: 4em;
    margin-bottom: 2em;
    #font-size: min(27px, 2vh);
    font-size: 27px;
    width: max(56rem, 66%);
}

#about-timeline {
    margin-top: 2em;
    margin-bottom: 2em;
    #width: 66%;
    --color: white;
    --bgColor: #0d2136;
    #min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    color: var(--color);
    background: var(--bgColor);
}

#about-timeline h1 {
    text-align: center;
}

#about-timeline ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: max(56rem, 66%);
    margin-inline: auto;
    padding: 0;
}


/* line */
#about-timeline ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
#about-timeline ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */
#about-timeline ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* date */
#about-timeline ul li .date {
    --dateH: 2.5rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    #font-size: 1.7vh;
    font-size: 18px !important;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    #border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
    /* Point left */
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
}

/* circle */
#about-timeline ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
#about-timeline ul li .title,
#about-timeline ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
    #font-size: min(23px, 1.6vh);
    font-size: 17px;
}
#about-timeline ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
}
#about-timeline ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
}

@media (min-width: 1000px) {
    #about-timeline ul {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }
    #about-timeline ul::before {
        grid-column: 2;
    }
    #about-timeline ul li:nth-child(odd) {
        grid-column: 1;
    }
    #about-timeline ul li:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */
    #about-timeline ul li:nth-child(2) {
        grid-row: 2/4;
    }

    #about-timeline ul li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    #about-timeline ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    #about-timeline ul li:nth-child(odd) .date {
        #border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
        clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    }
    #about-timeline ul li:nth-child(odd) .date .triangle {
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        right: -40px;
        transform: translateY(-50%);
        border-width: 50px 0 50px 40px;
        border-style: solid;
        border-color: transparent transparent transparent red;
    }
}
#about-timeline a {
    text-decoration: none;
    color: #4CADAD;
}

#cv {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #283d4b;
    color: white;
}

#buttons {
    width: 210mm;
    margin-bottom: 1rem;
}

#darkModeToggle {
    display: none;
}

#switch {
    width: 59px;
    height: 30px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
}

#switch:before {
    content: '\f186';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    top: 7px;
    right: 8px;
}

#switch:after {
    content: '\f185';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    width: 24px;
    height: 16px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
}

#darkModeToggle:checked + #switch{
    background: #151515;
    color: #fff;
}

#darkModeToggle:checked + #switch:after{
    content: '\f186';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    left: 33px;
    background: #3c3c3c;
}

#darkModeToggle:checked + #switch:before{
    content: '\f185';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    right: auto;
    left: 8px;
}

#darkModeToggle:checked + label.btn-color-mode-switch-inner{
    /*background: #66BB6A; */
    /*color: #fff;*/
}

#cv-content {
    display: flex;
    width: 210mm;
    min-height: 297mm;
    #border: 1px solid red;
    font-family: "Arial", sans-serif;
    #box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 19px rgba(0,0,0,0.27)
}
#cv-content * {
    margin: 0;
    padding: 0;
}

#cv-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
:root {
    --left-width: 36%;
}

#cv-left {
    width: var(--left-width);
    background: #3E5879;
}
#cv-right {
    width: calc(100% - var(--left-width));
}

#cv-header{
    padding: 2rem 2rem 1rem 2rem;
    background: #2c3039;
    color: white;
}

#cv-header h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-family: serif;
}
#cv-header h2 {
    font-size: 18px;
    margin-top: 0.5rem;
    font-style: italic;
}

#cv-contact {
    #border: 1px solid blue;
    padding: 1rem 0 2rem 2rem;
    background: #2c3039;
    color: white;
}
#cv-contact ul li {
    padding: 0.2rem 0;
}
#cv-contact ul li a {
    text-decoration: none;
    color: inherit;
}
#cv-contact ul li i {
    width: 23px;
    text-align: center;
}


/* Education */
#cv-education {
    margin: 2rem;
    #border: 1px solid green;
}

#cv-education h1 {
    border-bottom: 1px solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 22px;
    text-transform: uppercase;
    font-family: serif;
}
#cv-education ul li {
    margin-bottom: 1.5rem;
}

[class^="education-"] {
    margin-bottom: 0.3rem !important;
}
.education-degree {
    font-size: 19px;
    font-weight: bold;
}
.education-field {
    font-style: italic;
}
.education-location-address i, .education-location-duration i {
    color: gray;
}
.education-location-address, .education-location-duration {
    font-size: 13px;
}


/* Skills */
#cv-skills {
    margin: 2rem;
    #border: 1px solid yellow;
}
#cv-skills h1 {
    border-bottom: 1px solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 22px;
    text-transform: uppercase;
    font-family: serif;
}
#cv-skills h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 17px;
    color: #84b3dc;
}

#cv-skills ul {
    list-style-type: disc;
    padding-left: 19px;
}

#cv-skills ul li {
    margin-bottom: 0.2rem;
    font-size: 15px;
}



#cv-work-experience {
    margin: 2rem;
}

#cv-work-experience h1 {
    border-bottom: 1px solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 22px;
    text-transform: uppercase;
    font-family: serif;
}

.work-title {
    font-weight: bold;
    font-size: 19px;
}
#cv-work-experience ul li {
    #margin-bottom: 0.5rem;
}

.work-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem !important;
    align-content: center;
}


.work-title {
    margin-bottom: 0.4rem !important;
}

.work-location {
    #text-align: center;
}
.work-header i {
    width: 24px;
    text-align: center;
}

.work-entry {
    margin-bottom: 1.8rem !important;
}

.work-duration {
    margin-bottom: 0.5rem !important;
}

.work-header-right {
    width: 125px
}

.work-description ul {
    list-style-type: disc !important;
    padding-left: 19px !important;
}

.work-description ul li {
    margin-bottom: 0.4rem !important;
}



#footer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #373c47;
    align-items: center;
    color: white;
    font-family: "Arial", sans-serif;
    width: 100%;
}